# Auto detect text files and perform LF normalization
* text=auto

# Force Unix line endings for these files
*.sh text eol=lf
gradlew text eol=lf
gradlew.bat text eol=crlf

# Windows batch files
*.bat text eol=crlf
*.cmd text eol=crlf

# Android
*.xml text
*.png binary
*.jpg binary
*.properties text
